/* firefox os building blocks */
@import url(../bb/headers.css);
@import url(../bb/icons.css);
@import url(../bb/lists.css);
@import url(../bb/switches.css);
@import url(../bb/input_areas.css);
@import url(../bb/progress_activity.css);
@import url(../bb/buttons.css);
  
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

body {
  height: 100%;
  display: block;
  overflow: hidden;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

section[role="region"] article{ 
  padding: 1rem;
}

#e-list .gaia-icon:before {
  position: relative;
}

p.battery-level {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.2em;
}


#battery {
  height: 2rem;
  background: red;
}

#battery.battery-charging {
  background: green;
}

